<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LoginOrRegister</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: gray">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">LoginOrRegister</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                ><button
                  type="button"
                  class="btn btn-warning"
                  data-bs-toggle="modal"
                  data-bs-target="#registerModal"
                  data-bs-whatever="@getbootstrap"
                >
                  Register
                </button>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#loginModal"
                  data-bs-whatever="@getbootstrap"
                >
                  Login
                </button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Login Modal -->
    <form action="/loginUser" method="post">
      <div
        class="modal fade"
        id="loginModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Login Existing User
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>

            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"
                      >Username:</span
                    >
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Username"
                      name="username"
                      aria-label="Username"
                      aria-describedby="basic-addon1"
                    />
                  </div>
                </div>
                <div class="mb-3">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"
                      >Password:</span
                    >
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      name="userPassword"
                      aria-label="Username"
                      aria-describedby="basic-addon1"
                    />
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>

              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- end of login modal -->

    <!-- Register Modal -->
    <form action="/registerUser" method="post">
      <div
        class="modal fade"
        id="registerModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Register New User
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>

            <div class="modal-body">
              
              <form>
                <div class="mb-3">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"
                      >Username:</span
                    >
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Username"
                      aria-label="Username"
                      name="username"
                      aria-describedby="basic-addon1"
                    />
                  </div>
                </div>
                <div class="mb-3">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"
                      >Password:</span
                    >
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      name="userPassword"
                      aria-label="Username"
                      aria-describedby="basic-addon1"
                    />
                  </div>
                </div>
                <div class="mb-3">
                  <div class="input-group mb-3">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                      name="userEmail"
                      aria-label="Recipient’s username"
                      aria-describedby="basic-addon2"
                    />
                    <span class="input-group-text" id="basic-addon2"
                      >@example.com</span
                    >
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>

              <button type="submit" class="btn btn-warning">Register</button>
            </div>
          </div>
        </div>
      </div>
    </form>


    {% with messages = get_flashed_messages() %} 
      {% if messages %} 
        {%for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <!-- end of register modal -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

